@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

button {
  user-select: none;
}

body {
  background-color: #313a49;
  padding: 1.25rem;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 0.1px);
  text-align: center;
}

.container {
  background-color: #4e5d73;
  padding: 1.25rem 1.25rem 3rem;
  color: #f5f5f5;
  border-radius: 1.25rem;
  position: relative;
}

.container h1 {
  color: #53ffab;
  font-size: 0.9rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  letter-spacing: 0.14em;
}

.container p {
  font-size: 30px;
  color: #d9d9d9;
  line-height: 38px;
  text-align: center;
  padding-bottom: 32px;
}

.container picture img {
  background: #4e5d73;
  position: relative;
}

.container picture::before {
  content: "";
  width: 41%;
  height: 1px;
  background: #d9d9d9;
  right: 20px;
  bottom: 60px;
  position: absolute;
  display: block;
  z-index: 99;
}

.container picture::after {
  content: "";
  width: 45%;
  height: 1px;
  background: #d9d9d9;
  bottom: 12px;
  position: relative;
  display: block;
}

.container button {
  background: #53ffab;
  padding: 20px;
  border: none;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.container button:hover {
  background-color: #53ffab;
}

@media (min-width: 500px) {
  .container {
    max-width: 480px;
  }
}
